.App-logo {
  height: 8vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Universal Pages Containers  */
.pagesContainer {
  max-width: 950px;
  margin:auto;
}

/* white buttons homepage */
.btnWhite {
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
  background-color: transparent;
  color:white;
  text-decoration: none;
  text-align: center;
}

/* regular button class  */
.btn {
    border: 2px solid black;
    padding: 10px;
    background-color: transparent;
    color:black;
    text-decoration: none;
    text-align: center;
}

button {
  border: 2px solid black;
  padding: 10px;
  background-color: transparent;
  text-decoration: none;
  color: black;
}

/* Home Page Styling  */

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  height: 100vh;
}

/* typewriter functionality */
.typewriterContainer {
  color: white;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentHeader {
  text-align: center;
  background-color: black;
  color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-top-left-radius: 60%;  */
}

.contentItems {
  margin-bottom: 15px;
  width: 65%;
}

.homepageVideo {
  position: absolute;
  z-index: -1;
  /* width: 75%; */
  top: -10%;
  left: 0;
}

.learnMoreHeader {
  color:rgb(172, 255, 131);
  text-decoration: underline;
}

.homepageContentDivs:first-child {
  background-color: white;
  margin-top: 0px;
  border-top:none;
  border-left:none;
}

.homepageContentDivs {
  margin-bottom: 60px;
  padding: 50px;
  /* border: black 3px solid; */
}

.codeSpan {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  background-color: black;
  color: white;
}

.ctaHomepage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black
}

.ctaHomepage a {
  border-bottom: none;
}

/* Featured Workouts Homepage*/

.featuredHomeContainer {
  background-color:rgba(172, 255, 131, 0.377);
  padding: 60px;
}

.featuredH2 h2 {
  padding: 5px;
}

.featuredHome {
  display: flex;
  align-items: baseline;
}
.secondDumbellImg {
  transform: scaleX(-1);
}

.featured-left-home {
  text-align: center;
  background-color: white;
  padding: 60px;
  width: 50%;
 }

.featured-right-home {
  width: 50%;
}

.featured-right-home h2 {
  margin-bottom: 20px;
  margin-left: 20px;
}


/* Our Story homepage */

.imgContent50Homepage {
  display: flex;
  padding: 0;
  border: none;
}

.gymImgHomepage {
background-color: pink;
width: 50%;
background-image: url('./images/gymstock1.jpg');
background-size: cover; 
background-position: center;
}

.ourStoryP {
  padding: 60px;
  width: 50%;
}


/* MOBILE DESIGN */

@media only screen and (max-width: 915px) { 

  /* inherited react logo animations edits */

  .App-logo {
      height: 15vmin;
      animation: none;
      margin-bottom: 10px;
  }

/* Universal Pages Containers  */
.pagesContainer {
  max-width: 950px;
  margin:auto;
}


/* Home Page Styling  */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.typewriterContainer {
  width: 60%;
 text-align: center;
}

.contentHeader {
  text-align: center;
  background-color: black;
  color: white;
  width: 80%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;   
  margin-left: 20px;
  margin-right:20px;
}

.contentItems {
    width: 100%;
}

.homepageVideo {
  position: absolute;
  z-index: -1;
  /* width: 75%; */
  top: -10%;
  left: 0;
}

.homepageContentDivs:first-child {
  background-color: white;
  margin-top: 0px;
  border-top:none;
  border-left:none;
}

.homepageContentDivs {
  margin-bottom: 60px;
  padding: 50px;
  /* border: black 3px solid; */
}

.codeSpan {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  background-color: black;
  color: white;
}

.ctaHomepage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ctaHomepage a {
  border-bottom: none;
  margin-top:20px;
}

/* Featured Workouts Homepage*/

.featuredHomeContainer {
  background-color:rgba(172, 255, 131, 0.377);
  padding: 60px;
  margin-bottom: 0px;

}

.featuredH2 h2 {
  padding: 5px;
}

.featuredHome {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.featuredHome .Typewriter {
  font-size: 20px;
  color: black!important;
}

.featured-left-home {
  width: 100%;
  text-align: center;
  background-color: white;
  padding: 20px;
  margin-bottom: 40px;
 }

.featured-right-home {
  width: 100%;
}

.featured-right-home h2 {
  margin-bottom: 25px;
  margin-left: 0px;
}

/* Our Story homepage */

.imgContent50Homepage {
  display: flex;
  padding: 0;
  flex-direction: column;
}

.gymImgHomepage {
width: 100%;
background-image: url('./images/gymstock1.jpg');
background-size: cover; 
background-position: center;
background-color: pink;
height: 80vh;
}

.ourStoryP {
  padding: 60px;
  width: 100%;
}

/* Login | Register Form Styling  */

.formsContainerFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 40px;
}

.mainFormContainer {
width: 100%;
margin-bottom: 20px;
}

.videoHeader {
  display: none;
 }

.loginForm, .signupForm {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  height: 100%;
}

.loginForm h2, .signupForm h2 {
  margin-bottom:20px;
}

.form-input {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid black;
}

}
