.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Universal Pages Containers  */
.pagesContainer {
  max-width: 950px;
  margin:auto;
}

/* white buttons homepage */
.btnWhite {
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
  background-color: transparent;
  color:white;
  text-decoration: none;
}

/* regular button class  */
.btn {
    border: 2px solid black;
    padding: 10px;
    background-color: transparent;
    color:black;
    text-decoration: none;
}

/* form buttons */
button {
  border: 2px solid black;
  padding: 10px;
  background-color: transparent;
  width: 100%;
  text-decoration: none;
  color: black;
}



a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/* Navigation Styling */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.navLinks a {
  margin: 10px;
  color: black;
}

.logo {
  display: flex;
  /* align-items: center; */
  text-decoration: none;
  color: black;
}

.logo h2 {
  padding-right: 0px;
}

/* Home Page Styling  */

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  height: 75vh;
}

/* typewriter functionality */
.typewriterContainer {
  font-size: 40px;
  color: white;
  flex: 1;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Typewriter {
  font-size: 30px;
  padding: 1rem;
  color:rgb(172, 255, 131)
}

.contentHeader {
  /* padding: 40px; */
  background-color: black;
  color: white;
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.contentItems {
  margin-bottom: 15px;
  width: 65%;
}

.homepageVideo {
  position: absolute;
  z-index: -1;
  /* width: 75%; */
  top: -10%;
  left: 0;
}

.learnMoreHeader {
  font-size: 14px;
  color:rgb(172, 255, 131);
  text-decoration: wavy underline;
}

#usage {
  clear: both;	
}

.homepageContentDivs:first-child {
  margin-top: 0px;
  border-top:none;
  border-left:none;
}

.homepageContentDivs {
  margin-bottom: 60px;
  padding: 50px;
  border: black 2px solid;
}

.codeSpan {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  background-color: black;
  color: white;
}

.ctaHomepage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black
}

.ctaHomepage a {
  border-bottom: none;
}

/* Our Story homepage */

.imgContent50Homepage {
  display: flex;
  padding: 0;
  border: none;
}

.gymImgHomepage {
background-color: pink;
width: 50%;
background-image: url('./images/gymstock1.jpg');
background-size: cover; 
background-position: center;
}

.ourStoryP {
  padding: 60px;
  width: 50%;
}

/* Featured Workouts Homepage*/

.featuredH2 {
  display: flex;
  justify-content: center;
}

.featuredH2 h2 {
  padding: 15px;
}

/* Footer Styling */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
}
footer img {
  width: 20px;
}

.footerItem {
  margin: 10px;
}

/* Login | Register Form Styling  */

.formsContainerFlex {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  height: 75vh;
}

.mainFormContainer {
width: 50%;
}

.videoHeader {
  z-index: -1;
  margin-right: 10px;
   margin-left: 10px;
 }

.loginForm, .signupForm {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  height: 100%;
}

.loginForm h2, .signupForm h2 {
  margin-bottom:20px;
}

.form-input {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid black;
}

.errorFormMess {
  position: absolute;
  position: absolute;
  bottom: 11%;
  background-color:rgb(172, 255, 131);
  padding: 20px;
  border: 2px solid black;
}

.error-input {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid red;
}

/* mobile  */