/* profile version */

.introProfileCard {
    display: flex;
    flex-direction: column;
  }
  
  .helloUsername{
    display: flex;
      align-items: center;
      flex-direction: column;
  }
  
  .splinterQuote {
    width: 60%;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 20px;
    text-align: center;
  }
  
  .splinterQuote h3  {
    font-style: italic;
    color: #999999;
    margin-bottom: 10px;
  }
  
  .featuredWorkoutCard-profile {
    display: flex;
      align-items: center;
      margin-bottom: 30px;
  }
  
  .profileNavContainer {
    padding: 20px;
    display: flex;
  }
  
  .profileNav {
    display: flex;
    margin-right: 30px;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .profileNav img {
    margin-right: 10px;
  }
  
  .liveFeed {
    display: flex;
  }



/* MOBILE DESIGN */

@media only screen and (max-width: 915px) { 


}