/* MOBILE DESIGN */

@media only screen and (max-width: 915px) { 

    /* inherited react logo animations edits */

    .App-logo {
        height: 15vmin;
        animation: none;
        margin-bottom: 10px;
    }

  /* Universal Pages Containers  */
  .pagesContainer {
    max-width: 950px;
    margin:auto;
  }
  
  /* Navigation Styling */
  nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

  .navLinks a {
    margin: 10px;
    color: black;
  }

  /* Home Page Styling  */
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .typewriterContainer {
    width: 100%;
   text-align: center;
  }
  
  .contentHeader {
    text-align: center;
    background-color: black;
    color: white;
    width: 80%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin-left: 20px;
    margin-right:20px;
  }

  .contentItems {
      width: 100%;
  }

  .homepageVideo {
    position: absolute;
    z-index: -1;
    /* width: 75%; */
    top: -10%;
    left: 0;
  }
  
  .homepageContentDivs:first-child {
    background-color: white;
    margin-top: 0px;
    border-top:none;
    border-left:none;
  }
  
  .homepageContentDivs {
    margin-bottom: 60px;
    padding: 50px;
    /* border: black 3px solid; */
  }
  
  .codeSpan {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: black;
    color: white;
  }
  
  .ctaHomepage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .ctaHomepage a {
    border-bottom: none;
    margin-top:20px;
  }
  
  /* Featured Workouts Homepage*/
  
  .featuredContainer {
    background-color:rgba(172, 255, 131, 0.377);
    padding: 60px;
    margin-bottom: 0px;

  }
  
  .featuredH2 h2 {
    padding: 5px;
  }
  
  .featuredWorkoutCard {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .featuredWorkoutCard .Typewriter {
    font-size: 20px;
    color: black!important;
  }
  
  .featured-left {
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 20px;
    margin-bottom: 40px;
   }
  
  .featured-right {
    width: 100%;
  }
  
  .featured-right h2 {
    margin-bottom: 25px;
    margin-left: 0px;
  }
  
  /* Query cards  */
  
  hr {
      display: none;
  }

  .queryCards {
    width: 100%;
    border: 2px solid black;
    padding: 30px;
  }
  
  .queryCardUsername {
    margin-bottom: 10px;
  }
  
  .exerciseDataContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .exerciseCard {
    margin-top: 10px;
  }
  
  .exerciseCard div {
    margin-bottom: 15px;
  }

  .exerciseCard h5 {
    border-top: 2px dashed black;
    padding-top: 15px;
  }

  .exerciseMiniCard {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
  }
  
  .exerciseMiniCard li {
    margin: 10px 10px 0px 0px;
    padding: 10px;  
    border: 1px solid rgba(0, 0, 0, 0.26);
  }

  
  /* Our Story homepage */
  
  .imgContent50Homepage {
    display: flex;
    padding: 0;
    flex-direction: column;
  }
  
  .gymImgHomepage {
  width: 100%;
  background-image: url('../images/gymstock1.jpg');
  background-size: cover; 
  background-position: center;
  background-color: pink;
  height: 80vh;
  }
  
  .ourStoryP {
    padding: 60px;
    width: 100%;
  }
  
  
  /* Footer Styling */
  
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
  }
  footer img {
    width: 20px;
  }
  
  .footerItem {
    margin: 10px;
  }
  
  /* Login | Register Form Styling  */
  
  .formsContainerFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 40px;
  }
  
  .mainFormContainer {
  width: 100%;
  margin-bottom: 20px;
  }
  
  .videoHeader {
    display: none;
   }
  
  .loginForm, .signupForm {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    height: 100%;
  }
  
  .loginForm h2, .signupForm h2 {
    margin-bottom:20px;
  }
  
  .form-input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
  }
  
  .errorFormMess {
    position: absolute;
    position: absolute;
    bottom: 11%;
    background-color:rgb(172, 255, 131);
    padding: 20px;
    border: 2px solid black;
  }
  
  .error-input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid red;
  }

}